header
    link(rel="stylesheet", href="/stylesheets/partials/footer.css")
body
     .footer-container
        div 
            a(href="/place/search") Search Restaurants  
        div 
            a(href="/reciepie/search") Search Recipes  